<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD

</head>
<body>
  <h1>Flatiron Widgets: Admin</h1>
=======
<h2>Flatiron Widgets: Admin</h2>

</head>
<body>
>>>>>>> b92be57be235c7aca05a02a4ffe3d6e8cd096dd6

<%=yield%>

</body>

</html>
